<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <table align="center">
        <tr>
            <td align="center" colspan="2"><h1>Update Book Issue</h1></td>
        </tr>
        <tr>
            <th>Student Name</th>
            <td><select name="sname">
                <option selected>{{ data.Stud_Name }}</option>
                {% for i in students %}
                    <option>{{ i.Stud_Name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <th>Book Name</th>
            <td><select name="bookname">
                <option selected>{{ data.Book_Name }}</option>
                {% for i in books %}
                    <option>{{ i.Book_Name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <th>Start Date</th>
            <td><input type="date" name="sdate" value="{{ data.Start_Date }}"></td>
        </tr>
        <tr>
            <th>End Date</th>
            <td><input type="date" name="edate" value="{{ data.End_Date }}"></td>
        </tr>
        <tr>
            <td align="center" colspan="2"><input type="submit" name="btnsbmt" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>